.blue {
    border-radius: initial;
    border: none;
    border-bottom: 3px solid #48e166;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}

