.errorMsg {
    color: red;
    font-weight: 500;
    font-size: 18px;
}


.addUserBtn {
    width: 80px;
    margin-left: 15px;
    padding: 11px;
}

.addUserBtn:disabled {
    color: white;
    background-color: rgb(136, 135, 135);
}

.totalPrice {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: #25ea25;
}

.addUserBtn, .totalPrice {
    margin-left: 10px;
}

.error {
    border: 3px solid red;
}